
p {
    text-align: justify;
}
* { box-sizing: border-box;}
h1{
    text-align: center;
    text-align-last: center;
}

html {
  font-size: 90%;
}

body {
  padding: 1rem;
  
}
figcaption {
    text-decoration-line: underline;
    font-weight: 500;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;  
}

p {
  margin: .5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

/* First the Grid */
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #cccecb;
  color: #1d1c1c;
}

/* The Images */
.gallery-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .8;
}
.nav-item{
    color: black;
}